body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #ff9a9e, #fad0c4); /* Colores pastel */
  color: #333;
}

.app-background {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  text-align: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
}

.app-bar {
  background-color: #ff9a9e; /* Color pastel */
}

.title {
  flex-grow: 1;
  color: #fff;
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.input {
  width: 300px;
  border-radius: 25px;
}

.button {
  background-color: #007BFF; /* Azul */
  color: #fff;
}

.spinner {
  margin: 20px;
}

.alert {
  margin: 20px;
}

.weather-card {
  margin-top: 20px;
}

.city-name {
  color: #ff7e5f; /* Color cálido */
}

.weather-info {
  color: #333;
}

.weather-icon {
  margin-right: 10px;
}

.map {
  margin-top: 20px;
}

.video-container {
  margin-top: 20px;
}

.weather-video {
  width: 100%;
  border-radius: 15px;
}






